#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:

# The archive already contains built binaries, so there is no useful DWARF
# multifile optimization for debhelper to perform here.
override_dh_dwz:

# Do not emit a separate dbgsym package for repackaged upstream binaries.
override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_auto_install:
	install -d debian/lumen/usr/bin
	install -m 0755 lumen debian/lumen/usr/bin/lumen
	install -m 0755 lumen-settings debian/lumen/usr/bin/lumen-settings

	install -d debian/lumen/usr/lib/systemd/user
	install -m 0644 lumen.service debian/lumen/usr/lib/systemd/user/lumen.service

	install -d debian/lumen/usr/share/applications
	install -m 0644 com.lumen.settings.desktop debian/lumen/usr/share/applications/com.lumen.settings.desktop
	desktop-file-validate debian/lumen/usr/share/applications/com.lumen.settings.desktop

	install -d debian/lumen/usr/share/icons/hicolor/scalable/apps
	install -m 0644 lumen-settings.svg debian/lumen/usr/share/icons/hicolor/scalable/apps/lumen-settings.svg

	install -d debian/lumen/usr/share/icons/hicolor/scalable/actions
	install -m 0644 icons/hicolor/scalable/actions/*.svg debian/lumen/usr/share/icons/hicolor/scalable/actions/

	install -d debian/lumen/usr/share/bash-completion/completions
	install -m 0644 completions/completions.bash debian/lumen/usr/share/bash-completion/completions/lumen

	install -d debian/lumen/usr/share/zsh/vendor-completions
	install -m 0644 completions/_lumen debian/lumen/usr/share/zsh/vendor-completions/_lumen

	install -d debian/lumen/usr/share/fish/vendor_completions.d
	install -m 0644 completions/lumen.fish debian/lumen/usr/share/fish/vendor_completions.d/lumen.fish
